.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
esbuild.js
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
log.md
analyze.md
scripts/**
images/**
AGENTS.md
